.contact {
    position: relative;
    min-height: 900px;
    background-color: $white;
    background-image: url('/assets/img/bg-contacts.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}