@import "../libs/reset-css/reset.css"
@import "../libs/owl.carousel/dist/assets/owl.carousel.css"
@import "../libs/owl.carousel/dist/assets/owl.theme.default.css"
@import "../css/svgsprites.css"
@import "../libs/animate.css/animate.min.css"