@import "mixins"
@import "variables"
@import "sprite"

//import fonts
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic,cyrillic-ext"

//preloader
.preloader-page
	position fixed
	left 0
	top 0
	right 0
	bottom 0
	background #fff
	z-index 999
	&__preloader-dots
		position absolute
		top 50%
		left 50%
		height 50px
		width 80px
	&__dot
		display inline-block
		background #666
		height 8px
		width 8px
		opacity 0.3
		border-radius 50%
		animation up-and-down 2s infinite
		&:nth-child(2)
			animation-delay .15s
		&:nth-child(3)
			animation-delay .3s
		&:nth-child(4)
			animation-delay .45s
		&:nth-child(5)
			animation-delay .6s

@keyframes up-and-down {
	0%{
		transform: translateY(0px);
	}
	35%{
		transform: translateY(0px);
		opacity: 0.3;
	}
	50%{
		transform: translateY(-20px);
		opacity: 0.8;
	}
	70%{
		transform: translateY(3px);
		opacity: 0.8;
	}
	85%{
		transform: translateY(-3px);
	}
}

//template styles

.overflow
	overflow-y hidden

*::selection
	background redcolor

::-webkit-scrollbar-track
	background-color white

::-webkit-scrollbar
	width 5px

::-webkit-scrollbar-thumb
	background-color redcolor

.page-overlay
	position fixed
	left 0
	top 0
	width 0
	height 0
	overflow-y hidden
	background-color rgba(0, 0, 0, 0.7)
	opacity 0
	z-index 0
	transition opacity 0.2s ease-out
	&_visible
		width 100%
		height 100%
		opacity 1
		z-index 3

.video
	display none
	position absolute
	&__iframe
		+adaptive(smart)
			width 100%
			height auto
	top 50%
	left 50%
	transform translate(-50%,-50%)
	+adaptive(smart)
		width 100%
		height auto
	&_visible
		display block

.burger-menu
	+adaptive(smart)
		width 100%
	position absolute
	top 0
	bottom 0
	// width 0px
	width 270px
	right -270px
	background-color black
	opacity 0
	z-index 999
	transition right 0.4s ease-out
	&_visible
		right 0
		opacity 1
		// width 270px
	&__menu
		padding 75px 65px 0px 40px
		font()
		font-size 16px
		+adaptive(smart)
			font-size 32px
		line-height 1.7
	&__list
		&_nest
			position relative
			&:hover::after
				transform rotate(45deg)
				color graycolor
			&::after
				transition all 0.3s ease-out
				content ""
				display block
				size(7px,7px)
				position absolute
				top 0
				right 0
				border solid darkgraytext
				border-width 0 2px 2px 0
				transform rotate(135deg)
			&:hover > ul
				display block
				max-height 500px
				opacity 1
	&__link
		display inline-block
		text-decoration none
		color darkgraytext
		transition color 0.2s ease-out
		&_nest
			position relative
			display block
		&:hover
			color graycolor
	&__row-blog
		transition all 0.6s ease-out
		overflow hidden
		display block
		max-height 0px
		opacity 0
		padding-left 20px

.burger-icon
	z-index 11
	display none
	+adaptive(smart)
		display block
	+adaptive(tablet)
		display block
	position absolute
	width 26px
	height 15px
	top 75px
	right 34px
	&_hide
		opacity 0
	&__line
		transition all 0.1s ease-out
		position absolute
		top 0
		left 0
		height 2px
		width 100%
		background-color white
		&_line1
			transform rotate(0deg)
			top 0%
		&_line2
			display block
			top 50%
		&_line3
			transform rotate(0deg)
			top 100%
		&_line-open1
			transform rotate(135deg)
			top 50%
		&_line-open2
			display none
			top 50%
		&_line-open3
			transform rotate(-135deg)
			top 50%
	&:hover .burger-icon__line_line1
		top -3px
	&:hover .burger-icon__line_line3
		top 18px
	&:hover .burger-icon__line_line-open3
		top 50%
		transform rotate(-135deg) scaleX(0.6)
	&:hover .burger-icon__line_line-open1
		top 50%
		transform rotate(135deg) scaleX(0.6)

.js-top
	font()
	width 50px
	height 50px
	background-color rgba(255,56,56, 0.5)
	display none
	position fixed
	bottom 50px
	right 50px
	opacity 0
	cursor pointer
	border-radius 10px
	&_active
		z-index 998
		opacity 1
		display block

	.icon-angle-thin-up
		position absolute
		top 10px
		left 10px
		color white
		font-size 30px
		transition all .2s ease
		&:hover
			font-size 40px
			top 5px
			left 5px

.wrapper
	width wrapper-width
	margin 0 auto
	+adaptive(smart)
		width 100%
	+adaptive(tablet)
		width 100%
	&_header
		position relative
		height 100vh
		min-height 800px
		+adaptive(smart)
			height 100vh
			min-height 600px
		+adaptive(tablet)
			height 100vh
			min-height 600px

.overlay
	+adaptive(pc)
		min-width wrapper-width
	// height auto
	z-index 0
	position absolute
	bottom 0
	top 0
	left 0
	right 0
	background rgba(255, 255, 255, 0.1)

//section head
.head
	position relative //for overlay fullheight
	padding 1px 0
	font-size 0
	min-width 100%
	+adaptive(pc)
		min-width wrapper-width
	background-color lightgray
	background-image url(../img/cup-of-coffee.jpg)
	background-repeat no-repeat
	background-size cover
	// background-image linear-gradient(to left, redcolor, bluecolor)
	// background-attachment fixed

.header
	padding 1px 0
	font()
	position relative

.social
	position absolute
	top 13px
	right 0px
	color graytext
	+adaptive(smart)
		right 20px
	&__tel
		inline()
		vertical-align middle
		line-height 20px
		width 150px
		height 20px
		border-right 1px solid graytext
		padding-right 10px
	&__row
		padding-left 10px
		inline()
		height 20px
		line-height 20px
	&__list
		inline()
		vertical-align middle
		width 20px
		height 20px
		margin-right 10px
		&:last-child
			margin-right 0px
	&__link
		display block
		cursor pointer
		width 20px
		height 20px
		color graytext
		transition color 0.2s ease-out
		&:hover
			color graycolor

.top-nav
	position relative
	margin-top 81px
	display block
	width 100%
	&__menu
		+adaptive(smart)
			display none
		+adaptive(tablet)
			display none
		position absolute
		right 0
		inline()
	&__row
		font-size 14px
		inline()
	&__list
		margin-right 40px
		inline()
		&:nth-child(5)
			margin-right 20px
		&_register
			margin-right 0
		&_nest
			&:hover .top-nav__row-blog
				top 40px
				opacity 1
	&__link
		color graytext
		text-decoration none
		transition color ease-out 0.2s
		&_register
			color graycolor
			background-color rgba(255,255,255,0.4)
			padding 8px 10px
			border-radius 20px
			transition box-shadow ease-out 0.3s
			&:hover
				shadow-btn()
		&:hover
			color white
		&:hover
			color graycolor
	&__row-blog
		transition all 0.3s ease-out .1s
		top 70px
		left 250px
		position absolute
		background-color black
		display block
		opacity 0
		width 130px
		padding 20px
		line-height 1.7
		box-sizing border-box
		border-radius 10px
		&::before
			position absolute
			content ""
			display block
			top -20px
			left 0px
			width 100%
			height 20px
			background-color transparent
		&::after
			position absolute
			content ""
			display block
			top -20px
			width 0px
			height 0px
			border-bottom: 10px solid black
			border-right: 10px solid transparent
			border-top: 10px solid transparent
			border-left: 10px solid transparent

.main-logo
	position absolute
	top -7px
	left 34px
	inline()
	width 100px
	font-size 24px
	font-weight bold
	+adaptive(smart)
		left 20px
	&__link
		text-decoration none
		color white
	&__dot
		color redcolor

.page-title
	position relative
	z-index 2
	font()
	width 60%
	top 50%
	left 50%
	transform translate(-50%, -50%)
	+adaptive(smart)
		font-size 48px
		width 90%
	+adaptive(tablet)
		font-size 48px
		width 90%
	&__big-text
		line-height 1.333em
		color white
		font-size 48px
		text-align center
		+adaptive(smart)
			font-size 1.9rem
		+adaptive(tablet)
			font-size 1.9rem
	&__small-text
		margin-top 35px
		color white
		font-size 24px
		text-align center
		+adaptive(smart)
			margin-top 20px
			font-size 1.4rem
	&__buttons
		text-align center
		margin 0 auto
		margin-top 35px
		+adaptive(smart)
			width 60%
	&__btn
		btn()
		&:first-child
			margin-right 10px
			+adaptive(smart)
				margin-right 0px
				margin-bottom 5px

//section counters
.counters
	padding 1px 0
	font-size 0
	color darkcolor

.counter
	font()
	inline()
	width 25%
	margin-top 57px
	margin-bottom 80px
	+adaptive(tablet)
		width 100%
		margin-top 50px
		margin-bottom 0px
		&:last-child
			margin-bottom 50px
	+adaptive(smart)
		width 100%
		margin-top 50px
		margin-bottom 0px
		&:last-child
			margin-bottom 50px
	&__digit
		text-align center
		display block
		font-size 44px
	&__title
		text-transform uppercase
		text-align center
		margin-top 35px
		display block
		letter-spacing: 5px

//section features

.features
	background-color simplegray
	font()
	padding 1px 0

.features-title
	width 50%
	margin 120px auto 100px auto
	text-align center
	+adaptive(smart)
		margin-top 50px
		margin-bottom 50px
		width 90%
	+adaptive(tablet)
		margin-top 50px
		margin-bottom 50px
		width 90%
	&__title
		font-size 34px
	&__text
		font-size 18px
		line-height 1.5em
		color gray
		margin-top 20px

.features-content
	display block
	height 500px
	width 100%
	position relative
	margin-top 100px
	margin-bottom 130px
	+adaptive(smart)
		width 90%
		height auto
		margin 0 auto
		margin-top 50px
		margin-bottom 50px
	+adaptive(tablet)
		width 90%
		height auto
		margin 0 auto
		margin-top 50px
		margin-bottom 50px
	&:last-child
		margin-bottom 115px
	&__description
		position absolute
		left 0
		width 35%
		+adaptive(smart)
			position static
			width 90%
		+adaptive(tablet)
			width 90%
			position static
		&_revers
			left 65%
			+adaptive(smart)
				width 90%
				position static
				left 0
			+adaptive(tablet)
				width 90%
				position static
	&__title
		position relative
		margin-top 70px
		font-size 24px
	&__title-left
		position relative
		margin-top 40px
		font-size 20px
		padding-left 30px
		&:first-child
			margin-top 65px
	&__text
		color gray
		margin-top 28px
		font-size 16px
		line-height 1.7
	&__list
		color gray
		margin-top 45px
		font-size 16px
		line-height 1.7
	&__item
		position relative
		margin-top 21px
		padding-left 30px
	&__image-preview
		position absolute
		right 0
		width 60%
		&_revers
			left 0
		+adaptive(smart)
			position static
			display block
			width 100%
		+adaptive(tablet)
			position static
			display block
			width 100%
	&__image-response
		display block
		max-width 100%
		height auto
	&__btn
		btn()
		margin-top 35px

//icons of features section
.icon-check-mark
	position absolute
	left 0
	top 5px
	font-size 16px
	color bluecolor

.icon-shield, .icon-user, .icon-bookmark
	position absolute
	top -1px
	left 0
	font-size 18px
	color bluecolor

.icon-user
	top 3px

//section showcase

.showcase
	font()
	padding 1px 0

.showcase-title
	width 60%
	margin 120px auto 100px auto
	text-align center
	+adaptive(smart)
		margin-top 50px
		margin-bottom 50px
		width 90%
	+adaptive(tablet)
		margin-top 50px
		margin-bottom 50px
		width 90%
	&__title
		font-size 34px
	&__text
		font-size 18px
		line-height 1.5em
		color gray
		margin-top 20px

.showcase-container
	font-size 0
	width 100%
	margin 0 auto
	margin-top 100px

.showcase-box
	position relative
	font()
	text-align center
	grid-inline(3, 30, stick)
	margin-bottom 30px
	+adaptive(tablet)
		grid-inline(2, 30)
	+adaptive(smart)
		grid-inline(1, 30)
	&:hover
		& .showcase-box__img
			transform scale(1.1)
		& .showcase-box__showcase-link::after
			opacity 1
		& .showcase-box__title
			left 35px
		& .showcase-box__text
			left 35px
	&__showcase-link
		position relative
		bottom 0
		box-sizing border-box
		color white
		text-decoration none
		display block
		width 100%
		overflow hidden
		&::after
			content ''
			position absolute
			bottom 0
			left 0
			right 0
			top 0
			box-shadow inset 0px 10px 98px 8px rgba(0, 0, 0, 0.75)
			opacity 0
			transition all 0.4s ease-out
	&__img
		position relative
		max-width 100%
		height auto
		transition all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
	&__title
		transition all 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
		font-size 30px
		position absolute
		bottom 50px
		left 20px
	&__text
		transition all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
		position absolute
		left 20px
		bottom 20px

.description-container
	font-size 0
	width 100%
	margin-top 60px
	+adaptive(smart)
		width 75%
		margin 0 auto
		margin-top 0px
	+adaptive(tablet)
		margin-top 0px
		width 75%
		margin 0 auto

.description-box
	font()
	inline()
	box-sizing border-box
	width 33%
	padding-left 15px
	padding-right 15px
	+adaptive(smart)
		margin-top 40px
		width 100%
	+adaptive(tablet)
		margin-top 40px
		width 100%
	&__title
		font-size 18px
	&__text
		margin-top 20px
		font-size 16px
		color gray
		line-height 1.7

.btn-holder
	margin-top 60px
	text-align center
	&__btn
		btn()

.startcourse-title
	font()
	width 60%
	margin 150px auto 100px auto
	text-align center
	&__title
		font-size 34px
	&__text
		font-size 18px
		line-height 1.5em
		color gray
		margin-top 20px
	+adaptive(smart)
		margin-bottom 50px
		width 90%
	+adaptive(tablet)
		margin-bottom 50px
		width 90%

.step-slider
	font-size 0
	text-align center
	margin-bottom 120px
	margin-top 150px
	&__step
		font()
		box-sizing border-box
		inline()
		min-height 100px
		width 25%
	&__title
		font-size 18px
	&__progress
		z-index 1
		position relative
		left 50%
		top -18px
		size(100%,8px)
		background-color transparent
		&_last-child
			width 0%
		&_active
			background-color point_clr
	&__point
		z-index 3
		margin-top 10px
		position relative
		inline()
		width 30px
		height 30px
		background-color point_inactive_clr
		border-radius 50%
		&_active
			background-color point_clr
			&::after
				position absolute
				top 8px
				left 8px
				content ""
				size(15px,15px)
				border-radius 50%
				background-color point_clr_active
	&__description
		margin-top 35px
		font-size 14px

//SECTION.Testimonials
.Testimonials
	background-color simplegray
	padding 1px 0

.testimonials-title
	font()
	margin 150px auto 0px auto
	text-align center
	&__title
		font-size 34px

.testimonials-carousel
	margin 100px auto
	width 60%
	height auto
	+adaptive(smart)
		width 90%
	+adaptive(tablet)
		width 90%
	&__item
		text-align center
		width 100%
		background-color simplegray
	&__image
		margin 0 auto
		size(100px,100px)
		background-repeat no-repeat
		background-position center center
		border-radius 50%
		background-color bluecolor
		&_first
			background-image url(../img/person_1.jpg)
		&_second
			background-image url(../img/person_2.jpg)
		&_third
			background-image url(../img/person_3.jpg)
	&__name
		margin-top 20px
		font()
		font-size 12px
		font-weight 700
		text-transform uppercase
		color darkgraytext
	&__link-twit
		text-decoration none
		color bluecolor
	&__text
		font()
		margin-top 40px
		font-size 16px
		line-height 1.7
		color darkgraytext


// SECTION.recent-post
.recent-post
	font-size 0
	padding 1px 0

.recent-post-title
	font()
	margin 150px auto 0px auto
	text-align center
	&__title
		font-size 34px
	&__text
		width 60%
		font-size 18px
		line-height 1.5em
		color gray
		margin 0 auto
		margin-top 20px
		+adaptive(smart)
			width 90%
		+adaptive(tablet)
			width 90%

.post-container
	font-size 0
	margin-top 50px
	+adaptive(smart)
		width 80%
		margin 0 auto
		margin-top 50px
	+adaptive(tablet)
		margin 0 auto
		width 80%
		margin-top 50px

.post-box
	// box-shadow 0 10px 20px -12px rgba(0,0,0,0.18)
	margin-bottom 150px
	grid-inline(3, 30)
	font()
	+adaptive(smart)
		width 100%
	+adaptive(tablet)
		width 100%
	&__image
		size(100%,auto)
		max-width 100%
	&__text-container
		padding-left 30px
		padding-right @padding-left
	&__title
		margin-top 30px
		line-height 1.5
		font-size 20px
	&__date
		margin-top 20px
		position relative
		color darkgraytext
		font-size 16px
		line-height 1.7
	&__comments
		position absolute
		top 0
		right 30px
	&__text
		margin-top 20px
		color darkgraytext
		font-size 16px
		line-height 1.7
	&__btn
		margin-top 20px
		margin-bottom 20px
		btn()
		padding 8px 20px
		min-width 0px
		height auto
		font-size 16px
		height auto
		line-height normal

//SECTION.get-started
.get-started
	position relative
	font-size 0
	padding 1px 0
	background-image url(../img/img_bg_2.jpg)
	background-repeat no-repeat
	background-size cover
	&__overlay
		position absolute
		z-index 0
		top 0
		bottom 0
		right 0
		left 0
		background-color rgba(0,0,0,0.7)

.get-started-title
	position relative
	z-index 1
	font()
	color #fff
	margin 120px auto 130px auto
	text-align center
	&__title
		font-size 34px
	&__text
		width 60%
		font-size 18px
		line-height 1.5em
		color gray
		margin 0 auto
		margin-top 30px
	&__btn
		margin-top 100px
		btn()
		font-size 16px
		text-transform uppercase

//footer

.footer
	font-size 0
	padding 1px 0
	background-color simplegray

.footer-menu
	font-size 0
	margin-top 110px
	line-height 1.7
	+adaptive(smart)
		width 80%
		margin 0 auto
		margin-top 110px
	+adaptive(tablet)
		width 100%
		margin 0 auto
		margin-top 110px
	&__about
		inline()
		font()
		size(33%)
		padding-right 150px
		box-sizing border-box
		+adaptive(smart)
			width 100%
			padding-right 0px
	&__title
		font-size 16px
	&__text
		margin-top 20px
		font-size 16px
		color darkgraytext
	&__items
		inline()
		size(67%)
		+adaptive(smart)
			width 100%
	&__menu-block
		font()
		inline()
		width 25%
		+adaptive(smart)
			margin-top 50px
			width 50%
	&__list
		margin-top 20px
	&__link
		color darkgraytext
		text-decoration none
		&:hover
			text-decoration underline

.footer-info
	font()
	line-height 1.7
	width 60%
	margin 110px auto 120px auto
	text-align center
	color darkgraytext
	&__image-holder
		width 200px
		margin 0 auto
		margin-top 20px
		text-align center
	&__img
		transition color 0.2s ease-out
		inline()
		margin-right 10px
		margin-left 10px
		color bluecolor
		&:hover
			color redcolor

.icon-dribbble
	font-size 19px
	&.social-block
		font-size 15px

.icon-facebook
	font-size 19px

.icon-linkedin
	font-size 19px

.icon-twitter
	font-size 19px
	&.social-block
		font-size 15px

.icon-github
	font-size 19px
	&.social-block
		font-size 15px
