@import "mixins"
@import "sprite"

//import fonts
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic,cyrillic-ext"

//variables
darkgraytext 				= #828282
graytext 			  		= #ccc
redcolor 			  		= #FF5656
bluecolor 					= #6A7EFC
graycolor 					= #EDF2F6
darkcolor 					= #494953
simplegray 					= #f9f9f9
point_clr 					= #fbe8aa
point_clr_active 		= #fbbd19
point_inactive_clr 	= #f5f5f5


wrapper-width 			= 1170px

//mixins

size(w=100%, h=auto)
	width w
	height h

red(color=red)
	background color

font()
	font-family 'Open Sans', sans-serif, Arial
	font-size 14px
	font-weight normal

inline()
	display inline-block
	vertical-align top

shadow-btn()
	box-shadow 0 10px 15px rgba(0,0,0,0.4)

btn()
	inline()
	box-sizing border-box
	cursor pointer
	height 60px
	line-height 60px
	text-align center
	min-width 170px
	background-color gray
	padding-left 20px
	padding-right 20px
	font-size 18px
	color white
	border-radius 30px
	transition box-shadow 0.3s ease-out
	&:hover
		shadow-btn()
	&_red
		background-color rgba(255,86,86,.8)
	&_blue
		background-color rgba(106,126,252,.8)

//template styles

*::selection
		background darkcolor

.wrapper
	width wrapper-width
	margin 0 auto

.overlay
	z-index 0
	position absolute
	bottom 0
	top 0
	left 0
	right 0
	background rgba(255, 255, 255, 0.1)

//section head
.head
	padding 1px 0
	font-size 0
	width 100%
	background-color lightgray
	//background-image linear-gradient(to left, redcolor, bluecolor)
	background-image url(../img/cup-of-coffee.jpg)
	background-size cover
	background-attachment: fixed;
	background-position center center
	background-repeat no-repeat

.header
	padding 1px 0
	font()
	position relative

.social
	position absolute
	top 13px
	right 10px
	color graycolor
	&__tel
		inline()
		vertical-align middle
		line-height 20px
		width 150px
		height 20px
		border-right 1px solid graycolor
		padding-right 10px
	&__row
		padding-left 10px
		inline()
		height 20px
		line-height 20px
	&__list
		inline()
		width 20px
		height 20px
	&__link
		display block
		cursor pointer
		width 20px
		height 20px
		background-size 80%
		background-repeat no-repeat
		background-position center
		&_twitter
			background-image url(../img/sprites/sprite_src/twitter-gray.png)
		&_dribble
			background-image url(../img/sprites/sprite_src/dribbble-gray.png)
		&_github
			background-image url(../img/sprites/sprite_src/github--gray.png)

.top-nav
	position relative
	margin-top 81px
	display block
	width 100%
	&__menu
		position absolute
		right 0
		inline()
	&__row
		font-size 14px
		inline()
	&__list
		margin-right 40px
		inline()
		&:nth-child(5)
			margin-right 20px
		&_register
			margin-right 0
	&__link
		color graytext
		text-decoration none
		transition color ease-out 0.2s
		&_register
			color graycolor
			background-color rgba(255,255,255,0.4)
			padding 8px 10px
			border-radius 20px
			transition box-shadow ease-out 0.3s
			&:hover
				shadow-btn()
		&:hover
			color white

.main-logo
	position absolute
	top -7px
	left 34px
	inline()
	width 100px
	font-size 24px
	font-weight bold
	&__link
		text-decoration none
		color white
	&__dot
		color redcolor

.page-title
	position relative
	z-index 1
	font()
	margin 0 auto
	width 66%
	margin-top 217px
	margin-bottom 220px
	&__big-text
		line-height 1.333em
		color white
		font-size 48px
		text-align center
	&__small-text
		margin-top 35px
		color white
		font-size 24px
		text-align center
	&__buttons
		width 350px
		margin 0 auto
		margin-top 35px
	&__btn
		btn()
		&:first-child
			margin-right 10px

//section counters
.counters
	padding 1px 0
	font-size 0
	color darkcolor

.counter
	font()
	inline()
	width 25%
	margin-top 57px
	margin-bottom 80px
	&__digit
		text-align center
		display block
		font-size 44px
	&__title
		text-transform uppercase
		text-align center
		margin-top 35px
		display block
		letter-spacing: 5px

//section features

.features
	background-color simplegray
	font()
	padding 1px 0

.features-title
	width 50%
	margin 120px auto 100px auto
	text-align center
	&__title
		font-size 34px
	&__text
		font-size 18px
		line-height 1.5em
		color gray
		margin-top 20px

.features-content
	display block
	height 500px
	width 100%
	position relative
	margin-top 100px
	margin-bottom 130px
	&:last-child
		margin-bottom 115px
	&__description
		position absolute
		left 0
		inline()
		width 35%
		&_revers
			left 65%
	&__title
		position relative
		margin-top 70px
		font-size 24px
	&__title-left
		position relative
		margin-top 40px
		font-size 20px
		&:first-child
			margin-top 65px
		&_icon-user
			padding-left 25px
			&::before
				content ''
				top 3px
				left 0
				position absolute
				background-repeat no-repeat
				sprite($s-user16)
		&_icon-shield
			padding-left 25px
			&::before
				content ''
				left 0
				top 3px
				position absolute
				background-repeat no-repeat
				sprite($s-shield16)
		&_icon-bookmark
			padding-left 25px
			&::before
				content ''
				top 3px
				left 0
				position absolute
				background-repeat no-repeat
				sprite($s-bookmark16)
	&__text
		color gray
		margin-top 28px
		font-size 16px
		line-height 1.618em
	&__list
		color gray
		margin-top 58px
		font-size 16px
	&__item
		margin-top 21px
		padding-left 25px
		&::before
			content ''
			left 0
			position absolute
			sprite($s-check-mark-16)
			background-repeat no-repeat
	&__image-preview
		position absolute
		right 0
		inline()
		height 500px
		width 55%
		background-image url(../img/webapp-1.jpg)
		background-size cover
		background-repeat no-repeat
		background-position center center
		&_revers
			background-image url(../img/webapp-2.jpg)
			left 0
	&__btn
		btn()
		margin-top 35px

//section showcase

.showcase
	font()
	padding 1px 0

.showcase-title
	width 60%
	margin 120px auto 100px auto
	text-align center
	&__title
		font-size 34px
	&__text
		font-size 18px
		line-height 1.5em
		color gray
		margin-top 20px

.showcase-container
	font-size 0
	width 100%
	margin-top 100px

.showcase-box
	box-sizing border-box
	font()
	inline()
	vertical-align middle
	line-height 1px
	width 33%
	min-height 1px
	padding-right 15px
	padding-left 15px
	margin-bottom 30px
	&:hover
		& .showcase-box__img
			transform scale(1.1)
		& .showcase-box__showcase-link::after
			opacity 1
		& .showcase-box__title
			left 35px
		& .showcase-box__text
			left 35px
	&__showcase-link
		box-sizing border-box
		position relative
		color white
		text-decoration none
		display block
		width 100%
		height auto
		overflow hidden
		&::after
			content ''
			position absolute
			bottom 0
			left 0
			right 0
			top 0
			box-shadow inset 0px 10px 98px 8px rgba(0, 0, 0, 0.75)
			opacity 0
			transition all 0.4s ease-out
	&__img
		transition all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
		max-width 100%
	&__title
		transition all 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
		font-size 30px
		position absolute
		bottom 50px
		left 20px
	&__text
		transition all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
		position absolute
		left 20px
		bottom 20px

.description-container
	font-size 0
	width 100%
	margin-top 60px

.description-box
	font()
	inline()
	width 33%
	box-sizing border-box
	min-height 1px
	padding-left 15px
	padding-right 15px
	&__title
		font-size 18px
	&__text
		margin-top 20px
		font-size 16px
		color gray
		line-height 1.7

.btn-holder
	margin-top 60px
	text-align center
	&__btn
		btn()

.startcourse-title
	font()
	width 60%
	margin 150px auto 100px auto
	text-align center
	&__title
		font-size 34px
	&__text
		font-size 18px
		line-height 1.5em
		color gray
		margin-top 20px

.step-slider
	font-size 0
	text-align center
	margin-bottom 120px
	margin-top 150px
	&__step
		font()
		box-sizing border-box
		inline()
		min-height 100px
		width 25%
	&__title
		font-size 18px
	&__progress
		z-index 1
		position relative
		left 50%
		top -18px
		size(100%,8px)
		background-color transparent
		&_last-child
			width 0%
		&_active
			background-color point_clr
	&__point
		z-index 3
		margin-top 10px
		position relative
		inline()
		width 30px
		height 30px
		background-color point_inactive_clr
		border-radius 50%
		&_active
			background-color point_clr
			&::after
				position absolute
				top 8px
				left 8px
				content ""
				size(15px,15px)
				border-radius 50%
				background-color point_clr_active
	&__description
		margin-top 35px
		font-size 14px

//SECTION.Testimonials
.Testimonials
	background-color simplegray
	padding 1px 0

.testimonials-title
	font()
	margin 150px auto 0px auto
	text-align center
	&__title
		font-size 34px

.testimonials-carousel
	margin 100px auto
	width 60%
	height auto
	&__item
		text-align center
		size()
		background-color simplegray
	&__image
		margin 0 auto
		size(100px,100px)
		background-repeat no-repeat
		background-position center center
		border-radius 50%
		background-color bluecolor
		&_first
			background-image url(../img/person_1.jpg)
		&_second
			background-image url(../img/person_2.jpg)
		&_third
			background-image url(../img/person_3.jpg)
	&__name
		margin-top 20px
		font()
		font-size 12px
		font-weight 700
		text-transform uppercase
		color darkgraytext
	&__link-twit
		text-decoration none
		color bluecolor
	&__text
		font()
		margin-top 40px
		font-size 16px
		line-height 1.7
		color darkgraytext


// SECTION.recent-post
.recent-post
	font-size 0
	padding 1px 0

.recent-post-title
	font()
	margin 150px auto 0px auto
	text-align center
	&__title
		font-size 34px

.post-container
	margin-top 50px
	// red()

.post-box
	font()
	box-sizing border-box
	inline()
	margin-right 20px
	// width 31.75%
	// width (100% / 3) - (1 - ((wrapper-width - @margin-right * 2) / wrapper-width))
	width ((wrapper-width - @margin-right * 2) / 3)
	&:last-child
		margin-right 0px
	&__image
		size(100%,auto)
		max-width 100%
	&__text-container
		padding-left 30px
		padding-right @padding-left
	&__title
		margin-top 20px
		line-height 1.5
		font-size 20px
	&__date
		margin-top 20px
		position relative
		color darkgraytext
		font-size 16px
		line-height 1.7
	&__comments
		position absolute
		top 0
		right 30px
	&__text
		margin-top 20px
		color darkgraytext
		font-size 16px
		line-height 1.7
	&__btn
		margin-top 20px
		btn()
