$s-bookmark16 = 72px 48px -72px -48px 16px 16px 112px 96px '../img/icons/png/sprites/sprite_dest/sprite.png';
$s-check-mark-16 = 48px 72px -48px -72px 16px 16px 112px 96px '../img/icons/png/sprites/sprite_dest/sprite.png';
$s-check-mark-24 = 48px 48px -48px -48px 24px 24px 112px 96px '../img/icons/png/sprites/sprite_dest/sprite.png';
$s-dribbble-gray = 0px 0px 0px 0px 48px 48px 112px 96px '../img/icons/png/sprites/sprite_dest/sprite.png';
$s-facebook = 64px 72px -64px -72px 16px 16px 112px 96px '../img/icons/png/sprites/sprite_dest/sprite.png';
$s-github--gray = 48px 0px -48px 0px 48px 48px 112px 96px '../img/icons/png/sprites/sprite_dest/sprite.png';
$s-linkedin = 80px 72px -80px -72px 16px 16px 112px 96px '../img/icons/png/sprites/sprite_dest/sprite.png';
$s-shield16 = 96px 0px -96px 0px 16px 16px 112px 96px '../img/icons/png/sprites/sprite_dest/sprite.png';
$s-twitter-gray = 0px 48px 0px -48px 48px 48px 112px 96px '../img/icons/png/sprites/sprite_dest/sprite.png';
$s-user16 = 96px 16px -96px -16px 16px 16px 112px 96px '../img/icons/png/sprites/sprite_dest/sprite.png';
