//variables
darkgraytext 		= #828282
graytext 			= #ccc
redcolor 			= #FF5656
bluecolor 			= #6A7EFC
graycolor 			= #EDF2F6
darkcolor 			= #494953
simplegray 			= #f9f9f9
point_clr 			= #fbe8aa
point_clr_active 	= #fbbd19
point_inactive_clr 	= #f5f5f5

wrapper-width 		= 1170px

.modern_no-cssanimations .animated
	opacity 1 !important

.animate-box
	opacity 0