include ../../node_modules/bemto.pug/bemto.pug
include mixins/svgmixin.pug

doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Website Template by Nucknine")
		meta(name="author" content="nucknine.com")
		meta(name="keywords" content="website templates, template, html5, css3, mobile first, responsive")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		title Создай свой курс
	body
		include ../templates/preloader.pug
		include ../templates/burger-menu-icon.pug
		+b.page-overlay
		+b.js-top
			+icon('angle-thin-up')
		+b(data-stellar-background-ratio="0.5").HEADER.head
			+b.overlay
			+b.wrapper
				+b.header
					+b.social
						+e.SPAN.tel Тел: +01 123 456 7890
						+e.UL.row
							+e.LI.list
								+e.A(href="#").link
									+icon('twitter', 'social-block')
							+e.LI.list
								+e.A(href="#").link
									+icon('dribbble', 'social-block')
							+e.LI.list
								+e.A(href="#").link
									+icon('github', 'social-block')
					+b.NAV.top-nav
						+b.main-logo
							+e.A(href="#").link LOGO
							+e.SPAN.dot !
						+e.menu
							+e.UL.row
								+e.LI.list
									+e.A(href="index.html").link Домой
								+e.LI.list
									+e.A(href="courses.html").link Курсы
								+e.LI.list
									+e.A(href="prices.html").link Цены
								+e.LI.list._nest
									+e.A(href="blog.html").link Блог
									+e.UL.row-blog
										+e.LI.list
											+e.A(href="#").link._white Веб дизайн
										+e.LI.list._white
											+e.A(href="#").link._white Api
										+e.LI.list
											+e.A(href="#").link._white eКоммерция
										+e.LI.list
											+e.A(href="#").link._white Branding
								+e.LI.list
									+e.A(href="contacts.html").link Контакты
								+e.LI.list_register
									+e.A(href="#").link_register Вход
								+e.LI.list_register
									+e.A(href="#").link_register Создать аккаунт
				+b.page-title
					+e.H1.big-text._large Курсы
		+b.SECTION.features
			+b.wrapper
				+b.features-title.animate-box
					+e.H2.title Выбрать курс
					+e.P.text Разнообразный и богатый опыт, сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
				+b.features-content
					+e.image-preview.animate-box
						+e.IMG(src="css/img/webapp-1.jpg").image-response
					+e.description.animate-box
						+e.title Мы хотим, что бы вы изучили языки
						+e.P.text Разнообразный и богатый опыт, сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
						+e.UL.list
							+e.LI.item
								+icon('check-mark')
								|Идейные соображения высшего порядка
							+e.LI.item
								+icon('check-mark')
								|Реализация намеченных плановых заданий
							+e.LI.item
								+icon('check-mark')
								|Разработка дальнейших направлений развития
						+e.A(id="js-watch-video-content").btn._blue Смотреть Видео
				+b.features-content
					+e.image-preview._revers.animate-box
						+e.IMG(src="css/img/webapp-2.jpg").image-response
					+e.description._revers.animate-box
						+e.title-left
							+icon('user')
							|Реальные проекты
						+e.P.text Рамки и место обучения кадров позволяет оценить значение новых предложений.
						+e.title-left
							+icon('shield')
							|Идейные соображения
						+e.P.text Реализация намеченных плановых заданий представляет собой интересный эксперимент проверки форм развития.
						+e.title-left
							+icon('bookmark')
							|Направления развития
						+e.P.text Обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
		+b.SECTION.showcase
			+b.wrapper
				+b.showcase-title.animate-box
					+e.H2.title Витрина готовых проектов
					+e.P.text Разнообразный и богатый опыт, сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
				+b.showcase-container
					+b.showcase-box.animate-box
						+e.A(href="#").showcase-link
							+e.IMG(src="css/img/project-1.jpg").img
							+e.H3.title Веб мастер
							+e.P.text Посмотреть курс
					+b.showcase-box.animate-box
						+e.A(href="#").showcase-link
							+e.IMG(src="css/img/project-2.jpg").img
							+e.H3.title Виртуальный помощник
							+e.P.text Посмотреть курс
					+b.showcase-box.animate-box
						+e.A(href="#").showcase-link
							+e.IMG(src="css/img/project-3.jpg").img
							+e.H3.title Дизайн
							+e.P.text Посмотреть курс
					+b.showcase-box.animate-box
						+e.A(href="#").showcase-link
							+e.IMG(src="css/img/project-4.jpg").img
							+e.H3.title Логика
							+e.P.text Посмотреть курс
					+b.showcase-box.animate-box
						+e.A(href="#").showcase-link
							+e.IMG(src="css/img/project-5.jpg").img
							+e.H3.title Вебинары
							+e.P.text Посмотреть курс
					+b.showcase-box.animate-box
						+e.A(href="#").showcase-link
							+e.IMG(src="css/img/project-6.jpg").img
							+e.H3.title Разработчик
							+e.P.text Посмотреть курс
				+b.description-container
					+b.description-box.animate-box
						+e.H4.title Уникальные особенности
						+e.P.text Разнообразный и богатый опыт, сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
					+b.description-box.animate-box
						+e.H4.title У нас лучшие учителя
						+e.P.text Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки форм развития.
					+b.description-box.animate-box
						+e.H4.title Обучение "Шаг за шагом"
						+e.P.text Таким образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
				+b.btn-holder.animate-box
					+e.A.btn._blue Создать курс бесплатно
				+b.startcourse-title.animate-box
					+e.H2.title Начать курс
					+e.P.text Разнообразный и богатый опыт, сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров.
				+b.step-slider.animate-box
					+e.step
						+e.title Шаг 1
						+e.A(href="#").point._active
						+e.progress._active
						+e.description Создать курс бесплатно
					+e.step
						+e.title Шаг 2
						+e.A(href="#").point._active
						+e.progress
						+e.description Загрузить контент
					+e.step
						+e.title Шаг 3
						+e.A(href="#").point
						+e.progress
						+e.description Сделайте курс привлекательным
					+e.step
						+e.title Шаг 4
						+e.A(href="#").point
						+e.progress._last-child
						+e.description Начните зарабатывать
		+b.SECTION.get-started
			+e.overlay
			+b.wrapper
				+b.get-started-title.animate-box
					+e.H2.title Давайте приступим
					+e.P.text новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия.
					+e.A(href="#").btn._red Создать курс бесплатно
		+b.FOOTER.footer
			+b.wrapper
				+b.footer-menu
					+e.about.animate-box
						+e.H4.title Об обучении
						+e.text Новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия.
					+e.items
						+e.menu-block.animate-box
							+e.H4.title Обучение
							+e.UL.list
								+e.LI.item
									+e.A(href="courses.html").link Курсы
								+e.LI.item
									+e.A(href="blog.html").link Блог
								+e.LI.item
									+e.A(href="contacts.html").link Контакты
								+e.LI.item
									+e.A(href="#").link Условия
								+e.LI.item
									+e.A(href="#").link Встречи
						+e.menu-block.animate-box
							+e.H4.title Учись и расти
							+e.UL.list
								+e.LI.item
									+e.A(href="#").link Конфиденциальность
								+e.LI.item
									+e.A(href="blog.html").link Блог
								+e.LI.item
									+e.A(href="#").link Отзывы
								+e.LI.item
									+e.A(href="#").link Книги
								+e.LI.item
									+e.A(href="#").link Стол помощи
						+e.menu-block.animate-box
							+e.H4.title Присоединяйся
							+e.UL.list
								+e.LI.item
									+e.A(href="#").link Маркетинг
								+e.LI.item
									+e.A(href="#").link Визуальный помощник
								+e.LI.item
									+e.A(href="#").link Системный аналитик
								+e.LI.item
									+e.A(href="#").link Реклама
						+e.menu-block.animate-box
							+e.H4.title Права
							+e.UL.list
								+e.LI.item
									+e.A(href="#").link Найти дизайнер
								+e.LI.item
									+e.A(href="#").link Найти разработчика
								+e.LI.item
									+e.A(href="#").link Команды
								+e.LI.item
									+e.A(href="#").link Реклама
								+e.LI.item
									+e.A(href="#").link API
				+b.footer-info.animate-box
					+e.P.rights &copy; 2016 Nucknine. All Rights Reserved.
					+e.P.author Made by Oleg Maximov
					+e.image-holder
						+e.A(href="#").img
							+icon('twitter')
						+e.A(href="#").img
							+icon('facebook')
						+e.A(href="#").img
							+icon('linkedin')
						+e.A(href="#").img
							+icon('dribbble')
		script(src="js/libs.min.js")
		script(src="js/common.js")
