include ../../node_modules/bemto.pug/bemto.pug
include mixins/svgmixin.pug

doctype html
html
	head
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.css")
		title Learn
	body
		+b(id="preloader-page").preloader-page
			+e(id="preloader-dots").preloader-dots
				+e.dot
				+e.dot
				+e.dot
				+e.dot
				+e.dot
		+b.page-overlay
			+b.video
				+e.IFRAME.iframe(width="640" height="360" src="https://www.youtube.com/embed/qzMQza8xZCc" frameborder="0" allowfullscreen)
			+b.burger-menu
				+e.menu
					+e.UL.row
						+e.LI.list
							+e.A(href="#").link Домой
						+e.LI.list
							+e.A(href="#").link Курсы
						+e.LI.list
							+e.A(href="#").link Цены
						+e.LI.list._nest
							+e.A(href="#").link._nest Блог
							+e.UL.row-blog
								+e.LI.list
									+e.A(href="#").link Веб дизайн
								+e.LI.list
									+e.A(href="#").link API
								+e.LI.list
									+e.A(href="#").link Электронная коммерция
								+e.LI.list
									+e.A(href="#").link Продвижение
						+e.LI.list
							+e.A(href="#").link Контакты
						+e.LI.list
							+e.A(href="#").link Вход
						+e.LI.list
							+e.A(href="#").link Создать курс
		+b.burger-icon
			+e.SPAN.line._line1
			+e.SPAN.line._line2
			+e.SPAN.line._line3
		+b.js-top
			+icon('angle-thin-up')
		+b(data-stellar-background-ratio="0.5").HEADER.head
			+b.overlay
			+b.wrapper._header
				+b.header
					+b.social
						+e.SPAN.tel Тел: +01 123 456 7890
						+e.UL.row
							+e.LI.list
								+e.A(href="#").link
									+icon('twitter', 'social-block')
							+e.LI.list
								+e.A(href="#").link
									+icon('dribbble', 'social-block')
							+e.LI.list
								+e.A(href="#").link
									+icon('github', 'social-block')
					+b.NAV.top-nav
						+b.main-logo
							+e.A(href="#").link LOGO
							+e.SPAN.dot !
						+e.menu
							+e.UL.row
								+e.LI.list
									+e.A(href="#").link Домой
								+e.LI.list
									+e.A(href="#").link Курсы
								+e.LI.list
									+e.A(href="#").link Цены
								+e.LI.list._nest
									+e.A(href="#").link Блог
									+e.UL.row-blog
										+e.LI.list
											+e.A(href="#").link Веб дизайн
										+e.LI.list
											+e.A(href="#").link Api
										+e.LI.list
											+e.A(href="#").link eкоммерция
										+e.LI.list
											+e.A(href="#").link Branding
								+e.LI.list
									+e.A(href="#").link Контакты
								+e.LI.list_register
									+e.A(href="#").link_register Вход
								+e.LI.list_register
									+e.A(href="#").link_register Создать аккаунт
				+b.page-title
					+e.H1.big-text Искусство обучения - искусство помощи открытий
					+e.P.small-text не падайте духом
					+e(id="test").buttons
						+e.A(href="").btn._red Выбрать курс
						+e.A(id="js-watch-video-head").btn._blue Смотреть Видео
		+b.SECTION.counters
			+b.wrapper
				+b(data-animate-effect="fadeInLeft").counter.animate-box
					+e(data-from="0" data-to="33562"
      data-speed="5000" data-refresh-interval="50").SPAN.digit 33562
					+e.SPAN.title Студенты
				+b(data-animate-effect="fadeInLeft").counter.animate-box
					+e(data-from="0" data-to="75964"
      data-speed="5000" data-refresh-interval="50").SPAN.digit 75964
					+e.SPAN.title Курсы
				+b(data-animate-effect="fadeInRight").counter.animate-box
					+e(data-from="0" data-to="1456"
      data-speed="5000" data-refresh-interval="50").SPAN.digit 1456
					+e.SPAN.title Преподаватели
				+b(data-animate-effect="fadeInRight").counter.animate-box
					+e(data-from="0" data-to="95847"
      data-speed="5000" data-refresh-interval="50").SPAN.digit 95847
					+e.SPAN.title Доход
		+b.SECTION.features
			+b.wrapper
				+b.features-title.animate-box
					+e.H2.title Выбрать курс
					+e.P.text Разнообразный и богатый опыт, сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
				+b.features-content
					+e.image-preview.animate-box
						+e.IMG(src="img/webapp-1.jpg").image-response
					+e.description.animate-box
						+e.title Мы хотим, что бы вы изучили языки
						+e.P.text Разнообразный и богатый опыт, сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
						+e.UL.list
							+e.LI.item
								+icon('check-mark')
								|Идейные соображения высшего порядка
							+e.LI.item
								+icon('check-mark')
								|Реализация намеченных плановых заданий
							+e.LI.item
								+icon('check-mark')
								|Разработка дальнейших направлений развития
						+e.A(id="js-watch-video-content").btn._blue Смотреть Видео
				+b.features-content
					+e.image-preview._revers.animate-box
						+e.IMG(src="img/webapp-2.jpg").image-response
					+e.description._revers.animate-box
						+e.title-left
							+icon('user')
							|Реальные проекты
						+e.P.text Рамки и место обучения кадров позволяет оценить значение новых предложений.
						+e.title-left
							+icon('shield')
							|Идейные соображения
						+e.P.text Реализация намеченных плановых заданий представляет собой интересный эксперимент проверки форм развития.
						+e.title-left
							+icon('bookmark')
							|Направления развития
						+e.P.text Обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
		+b.SECTION.showcase
			+b.wrapper
				+b.showcase-title.animate-box
					+e.H2.title Витрина готовых проектов
					+e.P.text Разнообразный и богатый опыт, сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
				+b.showcase-container
					+b.showcase-box.animate-box
						+e.A(href="#").showcase-link
							+e.IMG(src="img/project-1.jpg").img
							+e.H3.title Веб мастер
							+e.P.text Посмотреть курс
					+b.showcase-box.animate-box
						+e.A(href="#").showcase-link
							+e.IMG(src="img/project-2.jpg").img
							+e.H3.title Виртуальный помощник
							+e.P.text Посмотреть курс
					+b.showcase-box.animate-box
						+e.A(href="#").showcase-link
							+e.IMG(src="img/project-3.jpg").img
							+e.H3.title Дизайн
							+e.P.text Посмотреть курс
					+b.showcase-box.animate-box
						+e.A(href="#").showcase-link
							+e.IMG(src="img/project-4.jpg").img
							+e.H3.title Логика
							+e.P.text Посмотреть курс
					+b.showcase-box.animate-box
						+e.A(href="#").showcase-link
							+e.IMG(src="img/project-5.jpg").img
							+e.H3.title Вебинары
							+e.P.text Посмотреть курс
					+b.showcase-box.animate-box
						+e.A(href="#").showcase-link
							+e.IMG(src="img/project-6.jpg").img
							+e.H3.title Разработчик
							+e.P.text Посмотреть курс
				+b.description-container
					+b.description-box.animate-box
						+e.H4.title Уникальные особенности
						+e.P.text Разнообразный и богатый опыт, сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
					+b.description-box.animate-box
						+e.H4.title У нас лучшие учителя
						+e.P.text Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки форм развития.
					+b.description-box.animate-box
						+e.H4.title Обучение "Шаг за шагом"
						+e.P.text Таким образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
				+b.btn-holder.animate-box
					+e.A.btn._blue Создать курс бесплатно
				+b.startcourse-title.animate-box
					+e.H2.title Начать курс
					+e.P.text Разнообразный и богатый опыт, сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров.
				+b.step-slider.animate-box
					+e.step
						+e.title Шаг 1
						+e.A(href="#").point._active
						+e.progress._active
						+e.description Создать курс бесплатно
					+e.step
						+e.title Шаг 2
						+e.A(href="#").point._active
						+e.progress
						+e.description Загрузить контент
					+e.step
						+e.title Шаг 3
						+e.A(href="#").point
						+e.progress
						+e.description Сделайте курс привлекательным
					+e.step
						+e.title Шаг 4
						+e.A(href="#").point
						+e.progress._last-child
						+e.description Начните зарабатывать
		+b.SECTION.Testimonials
			+b.wrapper
				+b.testimonials-title.animate-box
					+e.H2.title Отзывы
				+b.owl-carousel.owl-theme.testimonials-carousel__.animate-box
					+e.item
						+e.image._first
						+e.name Александра Соколова, via
							+e.A(href="#").link-twit  twitter
						+e.BLOCKQUOTE.text “Разнообразный и богатый опыт, сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров.”
					+e.item
						+e.image._second
						+e.name Евгений Алексеев, via
							+e.A(href="#").link-twit  twitter
						+e.BLOCKQUOTE.text “Разнообразный и богатый опыт, сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров.”
					+e.item
						+e.image._third
						+e.name Виктор Серпов, via
							+e.A(href="#").link-twit  twitter
						+e.BLOCKQUOTE.text Таким образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
		+b.SECTION.recent-post
			+b.wrapper
				+b.recent-post-title.animate-box
					+e.H2.title Последние публикации
					+e.P.text Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки форм развития.
				+b.post-container
					+b.post-box.animate-box
						+e.A(href="#").link
							+e.IMG(src="img/project-3.jpg").image
						+e.text-container
							+e.H3.title 27 Появление нового крупного обновления
							+e.date Фев. 15th
								+e.comments 21
							+e.text Новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия.
							+e.A.btn._red Читать далее
					+b.post-box.animate-box
						+e.A(href="#").link
							+e.IMG(src="img/project-2.jpg").image
						+e.text-container
							+e.H3.title 35 Cервисы для функционирования
							+e.date Нояб. 15
								+e.comments 28
							+e.text Таким образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
							+e.A.btn._red Читать далее
					+b.post-box.animate-box
						+e.A(href="#").link
							+e.IMG(src="img/project-4.jpg").image
						+e.text-container
							+e.H3.title 45 Минимальное рабочее место
							+e.date Март 15th
								+e.comments 21
							+e.text Разнообразный и богатый опыт, сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров.
							+e.A.btn._red Читать далее
		+b.SECTION.get-started
			+e.overlay
			+b.wrapper
				+b.get-started-title.animate-box
					+e.H2.title Давайте приступим
					+e.P.text новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия.
					+e.A(href="#").btn._red Создать курс бесплатно
		+b.FOOTER.footer
			+b.wrapper
				+b.footer-menu
					+e.about.animate-box
						+e.H4.title Об обучении
						+e.text Новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия.
					+e.items
						+e.menu-block.animate-box
							+e.H4.title Обучение
							+e.UL.list
								+e.LI.item
									+e.A(href="#").link Курсы
								+e.LI.item
									+e.A(href="#").link Блог
								+e.LI.item
									+e.A(href="#").link Контакты
								+e.LI.item
									+e.A(href="#").link Условия
								+e.LI.item
									+e.A(href="#").link Встречи
						+e.menu-block.animate-box
							+e.H4.title Учись и расти
							+e.UL.list
								+e.LI.item
									+e.A(href="#").link Конфиденциальность
								+e.LI.item
									+e.A(href="#").link Блог
								+e.LI.item
									+e.A(href="#").link Отзывы
								+e.LI.item
									+e.A(href="#").link Книги
								+e.LI.item
									+e.A(href="#").link Стол помощи
						+e.menu-block.animate-box
							+e.H4.title Присоединяйся
							+e.UL.list
								+e.LI.item
									+e.A(href="#").link Маркетинг
								+e.LI.item
									+e.A(href="#").link Визуальный помощник
								+e.LI.item
									+e.A(href="#").link Системный аналитик
								+e.LI.item
									+e.A(href="#").link Реклама
						+e.menu-block.animate-box
							+e.H4.title Права
							+e.UL.list
								+e.LI.item
									+e.A(href="#").link Найти дизайнер
								+e.LI.item
									+e.A(href="#").link Найти разработчика
								+e.LI.item
									+e.A(href="#").link Команды
								+e.LI.item
									+e.A(href="#").link Реклама
								+e.LI.item
									+e.A(href="#").link API
				+b.footer-info.animate-box
					+e.P.rights &copy; 2016 Nucknine. All Rights Reserved.
					+e.P.author Made by Oleg Maximov
					+e.image-holder
						+e.A(href="#").img
							+icon('twitter')
						+e.A(href="#").img
							+icon('facebook')
						+e.A(href="#").img
							+icon('linkedin')
						+e.A(href="#").img
							+icon('dribbble')
		script(src="js/libs.min.js")
		script(src="js/common.js")
