include ../../node_modules/bemto.pug/bemto.pug
include mixins/svgmixin.pug

doctype html
html
	head
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		title Learn
	body
		+b.page-overlay
			+b.video
				+e.IFRAME.iframe(width="640" height="360" src="https://www.youtube.com/embed/qzMQza8xZCc" frameborder="0" allowfullscreen)
			+b.burger-menu
				+e.menu
					+e.UL.row
						+e.LI.list
							+e.A(href="#").link Home
						+e.LI.list
							+e.A(href="#").link Courses
						+e.LI.list
							+e.A(href="#").link Pricing
						+e.LI.list._nest
							+e.A(href="#").link._nest Blog
							+e.UL.row-blog
								+e.LI.list
									+e.A(href="#").link Web Design
								+e.LI.list
									+e.A(href="#").link Api
								+e.LI.list
									+e.A(href="#").link eComerce
								+e.LI.list
									+e.A(href="#").link Branding
						+e.LI.list
							+e.A(href="#").link Contact
						+e.LI.list
							+e.A(href="#").link Login
						+e.LI.list
							+e.A(href="#").link Create a Course
		+b.burger-icon
			+e.SPAN.line._line1
			+e.SPAN.line._line2
			+e.SPAN.line._line3
		+b(id="jq-head-waypoint").HEADER.head
			+b.overlay
			+b.wrapper
				+b.header
					+b.social
						+e.SPAN.tel Call: +01 123 456 7890
						+e.UL.row
							+e.LI.list
								+e.A(href="#").link
									+icon('twitter', 'social-block')
							+e.LI.list
								+e.A(href="#").link
									+icon('dribbble', 'social-block')
							+e.LI.list
								+e.A(href="#").link
									+icon('github', 'social-block')
					+b.NAV.top-nav
						+b.main-logo
							+e.A(href="#").link LOGO
							+e.SPAN.dot !
						+e.menu
							+e.UL.row
								+e.LI.list
									+e.A(href="#").link Home
								+e.LI.list
									+e.A(href="#").link Courses
								+e.LI.list
									+e.A(href="#").link Pricing
								+e.LI.list._nest
									+e.A(href="#").link Blog
									+e.UL.row-blog
										+e.LI.list
											+e.A(href="#").link Web Design
										+e.LI.list
											+e.A(href="#").link Api
										+e.LI.list
											+e.A(href="#").link eComerce
										+e.LI.list
											+e.A(href="#").link Branding
								+e.LI.list
									+e.A(href="#").link Contact
								+e.LI.list_register
									+e.A(href="#").link_register Login
								+e.LI.list_register
									+e.A(href="#").link_register Create account
				+b.page-title
					+e.H1.big-text The Art of Teaching is the Art of Assisting Discovery
					+e.P.small-text be brave
					+e(id="test").buttons
						+e.A(href="").btn._red Take a course
						+e.A(id="js-watch-video-head").btn._blue Watch video
		+b(id="jq-counters-waypoint").SECTION.counters
			+b.wrapper
				+b.counter
					+e.SPAN.digit 33562
					+e.SPAN.title students
				+b.counter
					+e.SPAN.digit 75964
					+e.SPAN.title courses
				+b.counter
					+e.SPAN.digit 1456
					+e.SPAN.title instructors
				+b.counter
					+e.SPAN.digit 95847
					+e.SPAN.title earning
		+b(id="jq-features-waypoint-1").SECTION.features
			+b.wrapper
				+b.features-title
					+e.H2.title Take A Course
					+e.P.text Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts
				+b(id="jq-features-waypoint-content-1").features-content
					+e(id="jq-features-waypoint-image-1").image-preview
						+e.IMG(src="img/webapp-1.jpg").image-response
					+e.description
						+e.title We Want You To Learn English
						+e.P.text Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
						+e.UL.list
							+e.LI.item
								+icon('check-mark')
								|Far far away, behind the word
							+e.LI.item
								+icon('check-mark')
								|There live the blind texts
							+e.LI.item
								+icon('check-mark')
								|Separated they live in bookmarksgrove
						+e.A(id="js-watch-video-content").btn._blue watch video
				+b(id="jq-features-waypoint-content-2").features-content
					+e(id="jq-features-waypoint-image-2").image-preview._revers
						+e.IMG(src="img/webapp-2.jpg").image-response
					+e.description._revers
						+e.title-left
							+icon('user')
							|Real Project For Real Solutions
						+e.P.text Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
						+e.title-left
							+icon('shield')
							|Real Project For Real Solutions
						+e.P.text Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
						+e.title-left
							+icon('bookmark')
							|Real Project For Real Solutions
						+e.P.text Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
		+b(id="jq-showcase-waypoint").SECTION.showcase
			+b.wrapper
				+b.showcase-title
					+e.H2.title Showcase of A Finish Projects
					+e.P.text Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
				+b.showcase-container
					+b.showcase-box
						+e.A(href="#").showcase-link
							+e.IMG(src="img/project-1.jpg").img
							+e.H3.title Web Master
							+e.P.text View Course
					+b.showcase-box
						+e.A(href="#").showcase-link
							+e.IMG(src="img/project-2.jpg").img
							+e.H3.title Virtual Assistant
							+e.P.text View Course
					+b.showcase-box
						+e.A(href="#").showcase-link
							+e.IMG(src="img/project-3.jpg").img
							+e.H3.title Read Bible
							+e.P.text View Course
					+b.showcase-box
						+e.A(href="#").showcase-link
							+e.IMG(src="img/project-4.jpg").img
							+e.H3.title Web Master
							+e.P.text View Course
					+b.showcase-box
						+e.A(href="#").showcase-link
							+e.IMG(src="img/project-5.jpg").img
							+e.H3.title Virtual Assistant
							+e.P.text View Course
					+b.showcase-box
						+e.A(href="#").showcase-link
							+e.IMG(src="img/project-6.jpg").img
							+e.H3.title Read Bible
							+e.P.text View Course
				+b.description-container
					+b.description-box
						+e.H4.title We have coolest features of this course
						+e.P.text Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
					+b.description-box
						+e.H4.title Great teachers that we have
						+e.P.text Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
					+b.description-box
						+e.H4.title Steps by steps turorial session
						+e.P.text Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
				+b.btn-holder
					+e.A.btn._blue Create A Free Course
				+b(id="jq-start-a-course-waypoint").startcourse-title
					+e.H2.title Start A Course
					+e.P.text Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
				+b.step-slider
					+e.step
						+e.title Step 1
						+e.A(href="#").point._active
						+e.progress._active
						+e.description Create A Free Course
					+e.step
						+e.title Step 2
						+e.A(href="#").point._active
						+e.progress
						+e.description Upload Content
					+e.step
						+e.title Step 3
						+e.A(href="#").point
						+e.progress
						+e.description Make Your Course Beautiful
					+e.step
						+e.title Step 4
						+e.A(href="#").point
						+e.progress._last-child
						+e.description Start Making Money
		+b(id="jq-testimonials-waypoint").SECTION.Testimonials
			+b.wrapper
				+b.testimonials-title
					+e.H2.title Testimonials
				+b.owl-carousel.owl-theme.testimonials-carousel__
					+e.item
						+e.image._first
						+e.name Jennifer Clarx, via
							+e.A(href="#").link-twit  twitter
						+e.BLOCKQUOTE.text “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
					+e.item
						+e.image._second
						+e.name John Doe, via
							+e.A(href="#").link-twit  twitter
						+e.BLOCKQUOTE.text “Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
					+e.item
						+e.image._third
						+e.name Lee Doe, via
							+e.A(href="#").link-twit  twitter
						+e.BLOCKQUOTE.text Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		+b(id="jq-recent-post-waypoint").SECTION.recent-post
			+b.wrapper
				+b.recent-post-title
					+e.H2.title Recent Post
					+e.P.text Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
				+b.post-container
					+b.post-box
						+e.A(href="#").link
							+e.IMG(src="img/project-4.jpg").image
						+e.text-container
							+e.H3.title 45 Minimal Workspace Rooms for Web Savvys
							+e.date Nov. 15th
								+e.comments 21
							+e.text Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
							+e.A.btn._red Read More
					+b.post-box
						+e.A(href="#").link
							+e.IMG(src="img/project-4.jpg").image
						+e.text-container
							+e.H3.title 45 Minimal Workspace Rooms for Web Savvys
							+e.date Nov. 15th
								+e.comments 21
							+e.text Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
							+e.A.btn._red Read More
					+b.post-box
						+e.A(href="#").link
							+e.IMG(src="img/project-4.jpg").image
						+e.text-container
							+e.H3.title 45 Minimal Workspace Rooms for Web Savvys
							+e.date Nov. 15th
								+e.comments 21
							+e.text Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
							+e.A.btn._red Read More
		+b(id="jq-get-started-waypoint").SECTION.get-started
			+e.overlay
			+b.wrapper
				+b.get-started-title
					+e.H2.title Lets Get Started
					+e.P.text Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
					+e.A(href="#").btn._red Create a free course
		+b(id="jq-footer-waypoint").FOOTER.footer
			+b.wrapper
				+b.footer-menu
					+e.about
						+e.H4.title About Learning
						+e.text Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.
					+e.items
						+e.menu-block
							+e.H4.title Learning
							+e.UL.list
								+e.LI.item
									+e.A(href="#").link Course
								+e.LI.item
									+e.A(href="#").link Blog
								+e.LI.item
									+e.A(href="#").link Contact
								+e.LI.item
									+e.A(href="#").link Terms
								+e.LI.item
									+e.A(href="#").link Meetups
						+e.menu-block
							+e.H4.title Learn & Grow
							+e.UL.list
								+e.LI.item
									+e.A(href="#").link Privacy
								+e.LI.item
									+e.A(href="#").link Blog
								+e.LI.item
									+e.A(href="#").link Testimonials
								+e.LI.item
									+e.A(href="#").link Handbook
								+e.LI.item
									+e.A(href="#").link Held Desk
						+e.menu-block
							+e.H4.title Engage us
							+e.UL.list
								+e.LI.item
									+e.A(href="#").link Marketing
								+e.LI.item
									+e.A(href="#").link Visual Assistant
								+e.LI.item
									+e.A(href="#").link System Analysis
								+e.LI.item
									+e.A(href="#").link Advertise
						+e.menu-block
							+e.H4.title Legal
							+e.UL.list
								+e.LI.item
									+e.A(href="#").link Find Designers
								+e.LI.item
									+e.A(href="#").link Find Developers
								+e.LI.item
									+e.A(href="#").link Teams
								+e.LI.item
									+e.A(href="#").link Advertise
								+e.LI.item
									+e.A(href="#").link API
				+b.footer-info
					+e.P.rights &copy; 2016 Nucknine. All Rights Reserved.
					+e.P.author Made by Oleg Maximov
					+e.image-holder
						+e.A(href="#").img
							+icon('twitter')
						+e.A(href="#").img
							+icon('facebook')
						+e.A(href="#").img
							+icon('linkedin')
						+e.A(href="#").img
							+icon('dribbble')
		//- script(src="libs/jquery/dist/jquery.min.js")
		//- script(src="libs/owl.carousel/dist/owl.carousel.min.js")
		//- script(src="libs/svg4everybody/dist/svg4everybody.min.js")
		script(src="js/libs.min.js")
		script(src="js/common.js")
