@import "mixins"
@import "sprite"
@import "variables"

//fonts
webfont('Opensans_regular', 'opensans', true, 'normal')
webfont('Opensans_bold', 'opensansbold', true, 'normal')

font_h4_opensans_bold()
	font-family 'Opensans_bold', sans-serif
	font-size 26px
	line-height 1.2

font_h2_opensans_bold()
	font-family 'Opensans_bold', sans-serif
	font-size 68px
	line-height 1.2

font_p_opensans_bold()
	font-family 'Opensans_bold', sans-serif
	font-size 16px
	line-height 1.45

font_p_opensans_regular()
	font-family 'Opensans_regular', sans-serif
	font-size 16px
	line-height 1.45


font_h4_opensans_regular()
	font-family 'Opensans_regular', sans-serif
	font-size 26px
	line-height 1.2

font_h3_opensans_regular()
	font-family 'Opensans_regular', sans-serif
	font-size 42px
	line-height 1.2

font_h2_opensans_regular()
	font-family 'Opensans_regular', sans-serif
	font-size 68px
	line-height 1.2

font_h1_opensans_regular()
	font-family 'Opensans_regular', sans-serif
	font-size 110px
	line-height 1.2

//document css

html
	height 100%

body
	height 100%
	background linear-gradient(to right, main_one, main_two)
	adaptive(tablet)
		background black

.pattern
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	opacity 0.4
	background url('../img/england-pattern-white.png')

.wrapper
	// width 1170px
	// margin 0 auto

.content
	position absolute
	top 30%
	left 50%
	width 770px
	min-height 250px
	margin -125px 0 0 -385px
	background rgba(main_one, .7)
	// border-radius 10px
	box-shadow 0px 8px 5px -5px rgba(0, 0, 0, 0.4)
	padding 20px
	+adaptive(tablet)
		width 100%
		position absolute
		top 10%
		left 0
		margin 0
		padding 0

.form
	// border 5px solid main_two
	padding 0
	margin 0
	font-size 0
	// font_p_opensans_regular()
	box-sizing border-box
	width 100%
	&__input-text
		display inline-block
		vertical-align top
		box-sizing border-box
		width 80%
		margin 0
		padding 7px
		height 48px
		border 5px solid transparent
		font_p_opensans_regular()
		+adaptive(smart)
			width 100%
		&:focus
			outline none
			border 5px solid main_two
	&__input-submit
		display inline-block
		vertical-align top
		padding 7px
		margin 0
		box-sizing border-box
		font_p_opensans_regular()
		color rgba(light, 1)
		cursor pointer
		height 48px
		box-sizing border-box
		width 20%
		border none
		outline none
		background rgba(main_two, 1)
		+adaptive(smart)
			width 100%

.result-table
	width 100%
	border-collapse collapse
	margin-top 20px
	font_p_opensans_regular()
	+adaptive(tablet)
		display block
	&_hide
		display none
	&__row-head
		cursor pointer
		border-bottom 2px solid main_one
		+adaptive(tablet)
			display block
	&__row-body
		+adaptive(tablet)
			display block
	&__tb-row
		word-wrap: break-word
		background rgba(light, .4)
		&:nth-of-type(odd)
			background rgba(light, .8)
		&:hover
			background rgba(main_two, .9)
		+adaptive(tablet)
			display block
			background none
			&:nth-of-type(odd)
				background none
			border-bottom 4px solid main_one
	&__th-row
		+adaptive(tablet)
			display block
			position absolute
			top -9999px
			left -9999px
	&__tb-field
		text-align center
		padding 6px
		color dark
		+adaptive(tablet)
			display block
			border none
			border-bottom 2px solid main_one
			position relative
			padding-left 50%
			&:last-child
				border-bottom none
			&:before
				// display inline-block
				// vertical-align middle
				background light
				border-right 6px solid main_one
				position absolute
				top 0px
				left 0px
				width 45%
				padding-right 10px
				height 100%
				white-space nowrap
			&:nth-of-type(1):before
				content "Infinitive"
			&:nth-of-type(2):before
				content "Past"
			&:nth-of-type(3):before
				content "Past participle"
			&:nth-of-type(4):before
				content "Перевод"
			background rgba(light, .4)
			&:nth-of-type(odd)
				background rgba(light, .8)
	&__th-field
		color dark
		font-weight normal
		text-align center
		padding 6px
		text-align center
		background rgba(light, .9)
		+adaptive(tablet)
			display block


.result
	&_hide
		display none
	width 100%
	margin-top 20px
	font_p_opensans_regular()
	color light
	text-align left
	&__no-matches
		text-align center
	&__list
		list-style-type none
		font_p_opensans_regular()



