main_one = #FF4E50;
main_two = #F9D423;
light = #FBF5F3;
light2 = #eoe2db;
dark = #240115;
neutral = #595959;
neutral2 = #696a75;

transition-cubic()
	transition-timing-function cubic-bezier(0.2, 1, 0.3, 1)

gradient-row = linear-gradient(40deg, rgba(main_two, .8) 0, rgba(main_two, .9) 20%, rgba(main_two, .9) 80%, rgba(main_two, 1) 100%)