.hero {
  min-height: 600px;
  overflow: hidden;
  position: relative;
  &__bg {
    position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
  }
  &__user-container-js {

  }
  &__img-bg {
    display: block;
    max-width: 290%;

    // min-height: 880px;
    // min-width: 1800px;
  }
  &__socials{
    position: absolute;
    top: 35px;
    left: 30px;
  }
  &__hamburger {
    position: absolute;
    top: 35px;
    right: 30px;
  }
  &__title {
    @include centered('y');
    top: 50%;
    text-align: center;
    width: 100%;
  }
  &__user-block {
    @include centered('both');
  }
  &__blog-title {
    color: $white;
    margin-top: -48px;
  }
  &__works-title {
    color: $white;
    margin-top: -48px;
  }
}