.hero {
  height: 600px;
  overflow: hidden;
  position: relative;
  &__img-bg{
    width: 100%;
    min-height: 880px;
    min-width: 1800px;
  }
  &__socials{
    position: absolute;
    top: 2.063em;
    left: 1.875em;
  }
  &__title{
    @include centered('y');
    top: 45%;
    text-align: center;
    width: 100%;
  }
  &__user-block{
    @include centered('both');
  }
}