$s-dribble-hover = 80px 100px -80px -100px 26px 27px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-dribble = 106px 100px -106px -100px 26px 27px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-facebook-hover = 140px 78px -140px -78px 15px 28px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-facebook = 140px 50px -140px -50px 15px 28px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-left-arrow-hover = 0px 50px 0px -50px 50px 50px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-left-arrow = 50px 50px -50px -50px 50px 50px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-line_h2 = 54px 140px -54px -140px 70px 5px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-linked-hover = 140px 25px -140px -25px 26px 25px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-linked = 140px 0px -140px 0px 26px 25px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-location-hover = 0px 100px 0px -100px 40px 40px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-location = 40px 100px -40px -100px 40px 40px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-mail-hover = 100px 46px -100px -46px 40px 46px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-mail = 100px 0px -100px 0px 40px 46px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-right-arrow-hover = 50px 0px -50px 0px 50px 50px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-right-arrow = 0px 0px 0px 0px 50px 50px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-twitter-hover = 0px 140px 0px -140px 27px 22px 166px 162px '../img/sprites/sprite_dest/sprite.png';
$s-twitter = 27px 140px -27px -140px 27px 22px 166px 162px '../img/sprites/sprite_dest/sprite.png';
