//variables
// -- digits --
wrapper-inner = 1135px
max-width = 1350px

// -- colors --
bggray_clr = #f3f3f3
bdarkgray_clr = #eaebed
lblue2_clr = #b0c6ff
lblue_clr = #adbdf9
blue_clr = #3971ff
dark_clr = #4c4c4c
textgray_clr = #a7a7a7
h2_clr = #333