.welcome {
    height: 100vh;
    &__bg {
    background-image: url("/assets/img/portfolio.jpg");
    height: 100%;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    }
    &__greet-box {
        @include centered('both');
        z-index: 3;
    }
    &__btn-authorize {
        position: absolute;
        top: 26px;
        right: 26px;
    }
}