[class*="ymaps-2"][class*="-ground-pane"] {
    // filter: hue-rotate(109deg);
}

.map {
    position: relative;
    &__contacts {
        z-index: 999;
        position: absolute;
        top: 39%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__box{
        height: 960px;
    }
}