extends ../_main-template

block variables
  - var title = 'Authorize'

block content
    section.section.welcome
        .welcome__bg
            .authorize-form
                .authorize-form__title.subtitle
                    | Авторизуйтесь
                form(action='', method='GET').authorize-form__form
                    .authorize-form__body
                        fieldset.authorize-form__group
                            .authorize-form__input-container
                                input(type='text' placeholder='Логин' name='login').authorize-form__control.authorize-form__control_text
                                .authorize-form__input-icon
                                    +icon('login')
                        fieldset.authorize-form__group
                            .authorize-form__input-container
                                input(type='password' placeholder='Пароль' name='pwd').authorize-form__control.authorize-form__control_text
                                .authorize-form__input-icon
                                    +icon('password')
                        fieldset.authorize-form__group
                            label.authorize-form__label-checkbox
                                | Я человек
                                input(type='checkbox' name='human-check' value='human' id='human-check').authorize-form__control.authorize-form__checkbox
                                span.authorize-form__checkmark
                        fieldset.authorize-form__group
                            legend
                                b
                                    | Вы точно не робот?
                            .authorize-form__group
                                .authorize-form__control.authorize-form__control_half
                                    label.authorize-form__label-radio
                                        | Да
                                        input(type='radio' name='human-radio' value='human-radio-true' id='human-radio-true').authorize-form__radio
                                        span.authorize-form__radiomark
                                .authorize-form__control.authorize-form__control_half
                                    label.authorize-form__label-radio
                                        | Не уверен
                                        input(type='radio' name='human-radio' value='human-radio-false' id='human-radio-false').authorize-form__radio
                                        span.authorize-form__radiomark
                    .authorize-form__buttons
                        button(type='submit').authorize-form__btn.authorize-form__btn_submit
                            | Отправить
                        button(type='reset').authorize-form__btn.authorize-form__btn_cancel
                            | Очистить
    footer.section.footer.footer_absolute
        .footer__bottom.footer__bottom_fill_transparent
            | Oleg Maximov | nucknine | 2018