include ../../node_modules/bemto.pug/bemto.pug
include svgmixin.pug

doctype html
html
	head
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		title Irregular verbs
	body
		+b.pattern
		+b.SECTION.content
			+b.FORM.form
				+e.INPUT(type="text" placeholder="Введите глагол").input-text
				+e.INPUT(type="submit" value="поиск").input-submit
			+b.TABLE.result-table
				+e.TR.row._head
					+e.TD.field infinitive
						+e.BR
						|(первая форма глагола)
					+e.TD.field past
						+e.BR
						|(вторая форма глагола)
					+e.TD.field past participle
						+e.BR
						|(третья форма глагола)
					+e.TD.field перевод
				+e.TR.row
					+e.TD.field write
					+e.TD.field wrote
					+e.TD.field written
					+e.TD.field писать
			+b.result
				+e.UL.row нет совпадений
					+e.LI.list проверьте написание
					+e.LI.list глагол правильный

	//-
		+icon('dribbble')
		script(src="libs/jquery/dist/jquery.min.js")
		script(src="libs/owl.carousel/dist/owl.carousel.min.js")
		script(src="libs/svg4everybody/dist/svg4everybody.min.js")
		script(src="js/common.js")
	-//
