include ../../node_modules/bemto.pug/bemto.pug
include svgmixin.pug

doctype html
html
	head
		meta(name="viewport" content="width=device-width,initial-scale=1.0")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		title Irregular verbs
	body
		+b.pattern
		+b.SECTION.content
			+b.FORM.form
				+e.INPUT(type="text" placeholder="Введите глагол").input-text
				+e.INPUT(type="submit" value="поиск").input-submit
			+b.TABLE.result-table
				+e.THEAD.row-head
					+e.TR.th-row
						+e.TH.th-field Infinitive
							+e.BR
							|(первая форма глагола)
						+e.TH.th-field Past
							+e.BR
							|(вторая форма глагола)
						+e.TH.th-field Past participle
							+e.BR
							|(третья форма глагола)
						+e.TH.th-field Перевод
				+e.TBODY.row-body
					+e.TR.tb-row
						+e.TD.tb-field write
						+e.TD.tb-field wrote
						+e.TD.tb-field written
						+e.TD.tb-field писать
					+e.TR.tb-row
						+e.TD.tb-field brite
						+e.TD.tb-field wrote
						+e.TD.tb-field written
						+e.TD.tb-field писать
					+e.TR.tb-row
						+e.TD.tb-field hrite
						+e.TD.tb-field writtenwritten
						+e.TD.tb-field writtenwritten
						+e.TD.tb-field written
			+b.result._hide
				+e.no-matches Нет совпадений:
				+e.UL.row
					+e.LI.list 1. Глагол правильный
					+e.LI.list 2. Проверьте написание

	//-
		+icon('dribbble')
		script(src="libs/jquery/dist/jquery.min.js")
		script(src="libs/owl.carousel/dist/owl.carousel.min.js")
		script(src="libs/svg4everybody/dist/svg4everybody.min.js")
		script(src="js/common.js")
	-//
