.about {
  @include sgs-change('debug', true);
  @include background-grid($color: blue);
  @include add-gutter-style('fixed');
  background: $white;
  @extend %clearfix;
  &__left {
    position: relative;
    // float: left;
    // width: 50%;
    @include grid-span(6, 1);
  }

  &__right{
    position: relative;
    @include grid-span(6, 7);
  }

  &__left {
    background: $white;

  }

  &__section-title {
    @include centered('x');
    position: relative;
    top: -35px;
  }

  &__right {
    background: $beige;
  }

  &__triangles{
    position: absolute;
    bottom: 100%;
  }
}