.about {
  display: flex;
  background: $white;
  flex-wrap: wrap;
  @include adaptive('tablet') {
    position: relative;
  }
  &__left, &__right {
    position: relative;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include adaptive('tablet') {
      width: 100%;
    }
    @include adaptive('smart') {
      width: 100%;
    }
  }

  &__left {
  }

  &__section-title {
    @include centered('x');
    top: -48px;
    @include adaptive('tablet-landscape') {
      width: 60%;
    }
    @include adaptive('tablet') {
      width: 60%;
    }
    @include adaptive('smart') {
      width: 90%;
    }
  }

  &__right {
    background: $beige;
    @include adaptive('tablet') {
      position: unset;
    }
  }

  &__triangles{
    position: absolute;
    bottom: 100%;
  }
}