extends ../_template-admin

block content
    .row
        .col
            .form-container
                form.form#upload(action='/admin/upload' method="POST" enctype="multipart/form-data")
                    .form__subtitle Загрузите картинку на сервер
                    .status
                    label.form__input-line
                        input(name="name" type="text" placeholder="Описание картинки").form__input#file-desc
                    label.form__input-line
                        input(name="photo" type="file" required accept="image/*").form__input#file-select
                    .form__btns.form__input-line
                        input(name="" type="submit" value="Отправить").form__btn-send
                        input(name="" type="reset" value="Очистить").form__btn-reset
        .col
            .form-container
                form.form#blog(action='/admin/addpost' method="POST")
                    .form__subtitle Добавить запись в блог
                    .status
                    label.form__input-line
                        input(name="title" type="text" placeholder="Заголовок").form__input
                    label.form__input-line
                        -
                            var data = new Date().toLocaleDateString('ru', {
                                        year: 'numeric',
                                        month: '2-digit',
                                        day: '2-digit'
                                        })
                        input(name="date" type="date" value=`${data}`).form__input
                    textarea(placeholder="Ваша запись" name="text").form__textarea
                    .form__btns.form__input-line
                        input(name="" type="submit" value="Отправить").form__btn-send
                        input(name="" type="reset" value="Очистить").form__btn-reset