extends ../_main-template

block content
    section.section.welcome
        .welcome__bg.js-m-parallax
            img(src="assets/img/portfolio.jpg" alt="").welcome__img-bg
        a(href="./authorize").btn-authorize.welcome__btn-authorize
            | Авторизоваться
        .greet-box.welcome__greet-box.js-m-parallax
            .greet-box__top
                .user.greet-box__user-block
                    .user__photo
                        .user__photo-avatar
                            img(src="assets/img/user.png" alt="").user__photo-img
                    .user__name
                        | Олег Максимов
                    .user__description
                        | личный сайт разработчика
                ul.socials.greet-box__socials
                    each item in ['vk', 'github', 'in']
                        li.socials__item
                            a(href="#" class=`socials__link socials__link_hover_green socials__link_fill_gray socials__link_${item}`)
                                +icon(item)
            .greet-box__bottom
                nav.navigation.greet-box__navigation
                    .navigation__item.greet-box__item
                        a.navigation__link(href="./works")
                            | Мои работы
                    .navigation__item.greet-box__item
                        a.navigation__link(href="./about")
                            | Обо мне
                    .navigation__item.greet-box__item
                        a.navigation__link(href="./blog")
                            | Блог
    footer.section.footer.footer_absolute
        .footer__bottom.footer__bottom_fill_transparent
            | Oleg Maximov | nucknine | 2018