.contacts {
    padding: 13px 48px 48px 48px;
    text-align: center;
    background-color: rgba($white, .85);
    width: 380px;
    border-radius: 7px;
    &__title {
        margin-bottom: 13px;
    }
    &__item {
        position: relative;
        margin-bottom: 19px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__text {
        font-weight: 500;
        padding-left: 39px;
        text-align: left;
    }
    &__icon {
        color: $green;
        position: absolute;
        top: 1px;
        left: 0;
        width: 30px;
        height: 30px;
    }
}

.icon {
    &-skype {
        font-size: 25px;
    }
    &-envelope {
        font-size: 20px;
    }
    &-phone {
        font-size: 20px;
    }
    &-map_marker {
        font-size: 21px;
    }
}