.contacts {
    padding: 10px 40px 35px 35px;
    text-align: center;    
    background-color: rgba($white, .85);
    width: 380px;
    height: 310px;
    border-radius: 10px;
    &__title {
        margin-bottom: 20px;
    }
    &__item {
        position: relative;
        margin: 20px 0;
    }
    &__text {
        font-weight: 500;
        padding-left: 35px;        
        text-align: left;        
    }
    &__icon {
        color: $green;
        position: absolute;
        top: 1px;
        left: 0;
        width: 30px;
        height: 30px;        
    }
}

.icon {    
    &-skype {
        font-size: 25px;
    }
    &-envelope {
        font-size: 20px;
    }
    &-phone {
        font-size: 20px;
    }
    &-map_marker {
        font-size: 21px;
    }
}