.navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    line-height: 1;
    &__link {
        display: flex;
        align-items: center;
        height: 100%;
        color: $white;
        font-weight: 400;
        text-decoration: none;
        & :active,
        :hover {
            color: darken($white, 10%);
        }
    }
}