.navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item {
        margin-right: 20px;
        &:last-child() {
            margin-right: 0px;
        }
    }
    &__link {
        color: $white;
        font-weight: 400;
        text-decoration: none;
        & :active,
        :hover {
            color: $white;
        }
    }
}