.skill-section {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__item {
        margin-top: 20px;
        margin-left: 35px;
        position: relative;
        width: 110px;
        height: 110px;
        &:nth-child(4n-3) {
            margin-left: 0px;
        }
    }
    &__title {
        @include font-size(1.4);
        font-weight: 500;
        line-height: 1;
    }
}