.title {
  z-index: 2;
  color: $main-font-color;
  @include sansus();
  font-size: 65px;
  text-transform: uppercase;
  line-height: 1.25;
  padding: 52px 32px;
  display: inline-block;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  $margin: 7px;

  &:after, &:before {
    content:"";
    display: block;
    @include centered('y');
    background-color: rgba($main-font-color, 0.2);
    width: 19px;
    height: 4px;
  }
  &:after {
    right: $margin;
  }
  &:before {
    left: $margin;
  }
}