.title {
  color: $main-font-color;
  @include bernier();
  @include font-size(3);
  padding: .75em 1.333em;
  display: inline-block;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  $margin: .667em;

  &:after, &:before {
    content:"";
    display: block;
    @include centered('y');
    background-color: rgba($main-font-color, 0.2);
    width: 22px;
    height: 5px;
  }
  &:after {
    right: $margin;
  }
  &:before {
    left: $margin;
  }
}