.user-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    @include adaptive('tablet') {
        width: 60%;
    }
    @include adaptive('smart') {
        width: 100%;
    }
    margin-bottom: 26px;
    margin-top: 130px;
    &__picture {
        max-height: 450px;
        display: block;
        overflow: hidden;
        margin-bottom: 13px;
        @include adaptive('tablet') {
            width: 100%;
        }
        @include adaptive('smart') {
            width: 100%;
        }
    }
    &__photo-img {
        display: block;
        width: 100%;
        @include adaptive('tablet') {
            max-width: 100%;
        }
    }
    &__title {
        display: flex;
        justify-content: center;
        margin-bottom: 13px;
        width: 100%;
    }
    &__text {
        margin-bottom: 26px;
        @include adaptive('smart') {
            width: 90%;
        }
    }
}