.user-about {
    @include centered('x');
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 30px;
    &__picture {
        display: flex;
        justify-content: center;
        max-height: 390px;
        overflow: hidden;
        margin-bottom: 40px;
    }
    &__photo-img {
        display: block;
        width: 445px;
        height: 460px;
    }
    &__title {
        display: flex;
        justify-content: center;
    }
    &__text {
        margin: 0 auto;
        max-width: 445px;
    }
}