.user-about {
    width: 445px;
    margin-bottom: 30px;
    margin-top: 130px;
    &__picture {
        margin-bottom: 40px;
    }
    &__photo-img {
        display: block;
        max-width: 100%;
    }
    &__title {
        display: flex;
        justify-content: center;
    }
    &__text {
    }
}