+b.burger-icon
			+e.SPAN.line._line1
			+e.SPAN.line._line2
			+e.SPAN.line._line3
+b.burger-menu
	+e.menu
		+e.UL.row
			+e.LI.list
				+e.A(href="index.html").link Домой
			+e.LI.list
				+e.A(href="courses.html").link Курсы
			+e.LI.list
				+e.A(href="prices.html").link Цены
			+e.LI.list._nest
				+e.A(href="blog.html").link._nest Блог
				+e.UL.row-blog
					+e.LI.list
						+e.A(href="#").link Веб дизайн
					+e.LI.list
						+e.A(href="#").link API
					+e.LI.list
						+e.A(href="#").link Электронная коммерция
					+e.LI.list
						+e.A(href="#").link Продвижение
			+e.LI.list
				+e.A(href="contacts.html").link Контакты
			+e.LI.list
				+e.A(href="#").link Вход
			+e.LI.list
				+e.A(href="#").link Создать курс