.blog{
    display: flex;
    background-color: $white;
    padding: 52px 13px 13px 13px;
    width: 100%;
    justify-content: space-between;
    &__left {
        width: 30%;
        text-align: right;
        @include adaptive('tablet') {
            display: none;
        }
    }
    &__right {
        width: 60%;
        @include adaptive('tablet') {
            width: 100%;
        }
    }
}