.blog{
    @include background-grid($color: green);
    @extend %clearfix;
    background-color: $white;
    padding: 52px 13px 13px 13px;
    width: 100%;
    justify-content: center;
    &__left {
        text-align: right;
        @include grid-span(3, 1);
        @include adaptive('tablet') {
            display: none;
        }
    }
    &__right {
        @include grid-span(8, 5);
        @include adaptive('tablet') {
            @include grid-span(12, 1);
        }
    }
}