.footer {
    position: absolute;
    bottom: 0;
    color: $gray;
    font-weight: 300;
    width: 100%;
    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgba($black, .85);
    }
    &__block {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 26px 26px;
        width: 33.33%;
        @include adaptive('tablet') {
            width: 50%;
        }
        &:last-child {
            @include adaptive('tablet') {
                width: 100%;
            }
        }
        &:nth-child(2):after, :nth-child(2):before {
            position: absolute;
            top: 25px;
            left: 0;
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            background-color: rgba($gray, .85);
        }
    }
    &__socials {
        margin-top: 26px;
        color: $gray;
    }
    &__bottom {
        color: $white;
        display: flex;
        line-height: 1;
        padding: 7px 0;
        justify-content: center;
        background-color: rgba($green, .85);
    }
}